.map
  img.map__img
  .map__cities
    .map__cities__item(ng-repeat='city in cities | limitTo:1', ng-style="{ top: (city.y/196)*100 + '%',  left: (city.x/196)*100 + '%' }")
      .map__cities__item__label {{ city.label }}
