header.header
  .container-fluid
    .row
      .col-xs-2
        button.btn.btn-link(ng-click="sidebar.toggle()")
          i.fa.fa-bars.fa-2x
          span.sr-only Ouvrir le menu
      .col-xs-10
        .row
          .col-xs-4 Logo 1
          .col-xs-4 Logo 2
          .col-xs-4 Logo 3
