header.header
  .container-fluid
    button.btn.btn-link.header__toggler(ng-click="sidebar.toggle(false)")
      i.fa.fa-bars.fa-2x
      span.sr-only Ouvrir le menu
    .row.text-center
      .col-xs-4
        //- Silence is golden
      .col-xs-4
        img(src="assets/images/rts-red.svg")
      .col-xs-4
        img(src="//logo-js.herokuapp.com/jpp/C50224/dbd5d3", height="30px")
