header.header
  .container-fluid
    button.btn.btn-link.header__toggler(ng-click="sidebar.toggle(false)")
      i.fa.fa-bars.fa-2x
      span.sr-only Ouvrir le menu
    .row.text-center
      .col-xs-4
        //- Silence is golden
      .col-xs-4.header__logo
        img(src="assets/images/rts-red.svg", height="40px")
      .col-xs-4
        //- Silence is golden
