div(ng-include="'components/header/header.html'")
div(ng-include="'components/sidebar/sidebar.html'")
//- Overlay outside the content when the sidebar is visible
.main-overlay(ng-hide="sidebar.isCollapsed", ng-click="sidebar.toggle(true)")

.main(ng-class="{ 'main--first': !previous }")
  ui-view
    .main__container
      h2.main__container__title Le Parlomètre romand
      p.lead.main__container__introduction
        | Dites-nous comment vous parlez et nous vous dirons d'où vous venez !

      .main__container__wrapper
        .main__container__questions
          .main__container__questions__item(ng-repeat="question in ::questions track by question.id", id="question-{{ :: $index}}")
            form.main__container__questions__item__form.main__container__questions__item__form--next(
              name="questionForm",
              ng-submit="save(question, userAnswer)",
              ng-class="questionClass($index)")
              fieldset(ng-disabled="$index !== index")
                input(type="hidden", required, ng-model="userAnswer")
                .main__container__questions__item__form__position
                  div(ng-hide="$index < index && showPrevious()")
                    | Question {{ :: $index + 1 }}/{{ :: questions.length }}
                  div(ng-show="$index < index && showPrevious()")
                    | Votre dernière réponse
                .main__container__questions__item__form__label
                  | {{ :: question.label }}
                .main__container__questions__item__form__user-answer(ng-show="$index < index && showPrevious()")
                  i.fa.fa-check-circle-o.fa-fw
                  | &nbsp;{{ question.answers[question.userAnswer] }}

                .main__container__questions__item__form__image(ng-show="$index >= index && question.image")
                  img(ng-src="{{ :: question.image }}", width="100%")

                ul.list-unstyled.main__container__questions__item__form__answers(ng-hide="$index < index && showPrevious()")
                  li.checkbox.main__container__questions__item__form__answers__choice(ng-repeat="answer in ::question.answers")
                    label
                      input(type="radio", icheck, ng-model="$parent.userAnswer", ng-disabled="$parent.$index !== index", ng-value="$index")
                      | &nbsp; {{ :: answer }}

                .main__container__questions__item__form__map.slide(ng-show="$index < index && showPrevious()")
                  img(ng-src="{{  answerMap(question) }}", width="300", height="300")
                  .main__container__questions__item__form__map__legend
                    .main__container__questions__item__form__map__legend__title.sr-only Légende
                    .main__container__questions__item__form__map__legend__scale

                .main__container__questions__item__form__next(ng-hide="$index < index && showPrevious()")
                  button.btn.btn-primary.btn-lg(ng-disabled="!questionForm.$valid", type="submit")
                    | Suivant&nbsp;
                    i.fa.fa-angle-right.fa-fw




