div(ng-include="'components/header/header.html'")
div(ng-include="'components/sidebar/sidebar.html'")
//- Overlay outside the content when the sidebar is visible
.main-overlay(ng-hide="sidebar.isCollapsed", ng-click="sidebar.toggle()")

.main(ng-class="{ 'main--first': !previous }")
  .main__previous-question(ng-show="previous")
    h3.main__previous-question__title
      | Votre réponse précédente
    p.main__previous-question__label.text-muted
      strong Question&nbsp;:&nbsp;
      | {{ previous.label }}
    p.main__previous-question__answer
      i.fa.fa-check-circle-o
      | &nbsp; {{ previous.answers[ previous.userAnswer ] }}
    p.main__previous-question__map
      img.img-thumbnail(src="http://www.placehold.it/400x450/fff/1AB394", width="100%")

  .main__container
    h2.main__container__title Le Parlomètre romand
    p.lead.main__container__introduction
      | Art party heirloom jean shorts Banksy, roof party PBR&amp;B taxidermy beard.
      | Hashtag Carles meh, whatever cred McSweeney's bitters letterpress meditation organic
      | typewriter mumblecore messenger bag salvia seitan.

    form.main__container__question(name="questionForm", ng-submit="pick(index + 1)")
      input(type="hidden", required, ng-model="question.userAnswer")
      .main__container__question__position
        | Question {{ index + 1 }}/{{ questions.length }}
      .main__container__question__label
        | {{ question.label }}
      ul.list-unstyled.main__container__question__answers
        li.checkbox.main__container__question__answers__choice(ng-repeat="answer in question.answers")
          label
            input(type="radio", ng-model="question.userAnswer", ng-value="$index")
            | &nbsp; {{ answer }}
      .main__container__question__next
        button.btn.btn-primary.btn-lg(ng-disabled="!questionForm.$valid", type="submit")
          | Suivant




