.main {

  @highlight-color: #fa012c;
  position: relative;
  overflow-x:hidden;
  width:100%;
  margin-bottom:40px;

  &-overlay {
    z-index: (@zindex-header + @zindex-sidebar)/2;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:1;
    #gradient > .directional(fade(@gray-darker, 40), fade(@gray-darker, 90));
    .transition(0.6s);

    &.ng-hide {
      opacity:0;
    }

  }

  &__container {
    margin:40px;
    padding-bottom:40px * 2px;
    width: 550px;
    margin:auto;
    .transition(background 0.6s);

    &__title {
      text-align:center;
      font-weight: bold;
      margin-bottom:20px;
    }

    &__introduction {
      padding:0 20px;
    }

    &__wrapper {
      width: 550px;
      overflow: visible;
    }

    &__questions {

      display: table;
      vertical-align: top;
      width:550px * 21px;
      margin-top:40px;

      &__item {
        display: table-cell;
        width:550px;

        &__form {
          position: relative;
          margin:20px;
          margin-bottom:60px;
          background:@brand-primary;
          color: contrast(@brand-primary);
          .transition(0.6s);

          &--hidden {
            opacity:0;
            pointer-events: none;
          }

          &--previous {

            @media (min-width: 1110px) {
              background:@gray-dark;
            }

            @media (max-width: 1109px) {
              opacity:0;
              pointer-events: none;
            }
          }

          &--previous &__label {

            @media (min-width: 1110px) {
              background:@gray-darker;
            }
          }

          &--previous &__position {

            @media (min-width: 1110px) {
              color:@gray-dark;
            }
          }



          &__position {
            position: absolute;
            bottom:100%;
            right:0;
            padding:5px;
            color:@highlight-color;
          }

          &__label {
            font-size:1.3em;
            font-weight: 200;
            padding:20px;
            background: #c60224;
            .transition(0.6s);
          }

          &__map, &__image {
            max-width: 50%;
            margin-left:10px;
            float:right;
            background: white;
            border:1px solid @gray-darker;
            border-top:0;
          }

          &__image {
            border-color: #c60224;
          }

          &__answers {
            font-size:1.1em;
            padding:20px 0;

            &__choice label {
              display: block;
            }
          }

          &__next {
            position: absolute;
            top:100%;
            right:0;
            margin-top:10px;
            .btn {
              background:@gray-darker;
              border-color: black;
            }
          }
        }
      }
    }
  }
}


