.main {

  &-overlay {
    z-index: (@zindex-header + @zindex-sidebar)/2;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:1;
    #gradient > .directional(fade(@gray-darker, 40), fade(@gray-darker, 90));
    .transition(0.6s);

    &.ng-hide {
      opacity:0;
    }

  }
}


