.main__about
  .main__about__container
    h2.main__container__title À propos
    p.
      Le Parlomètre romand est une adaptation suisse romande de l’application interactive
      du New York Times <a href="http://www.nytimes.com/interactive/2013/12/20/sunday-review/dialect-quiz-map.html">How Y’all, Youse and You Guys Talk</a>,
      parue en décembre 2013. Le quotidien catalan ARA, de même que le Spiegel et le Tages-Anzeiger du côté germanophone,
      s’en sont par la suite inspirés pour développer un outil adapté à leur aire linguistique.

    h3 Méthodologie
    p.
      La grande majorité des questions - et leurs réponses - ont été imaginées sur la base
      du Dictionnaire suisse romand (Editions Zoé, Genève, 2004).
      Quinze entretiens, réalisés avec des personnes bien ancrées dans leur région,
      et dans leur canton, ont permis de les affiner et de les compléter.
    p.
      En l’absence d’un atlas linguistique fiable, un sondage a été réalisé afin
      d’être en mesure de cartographier le parler romand. Cette démarche est totalement
      inédite par rapport aux autres cartographies ayant précédemment été développées dans le monde.
    p.
      Composé de 37 questions, ce sondage a été réalisé entre le 21 avril et le 21 mai
      auprès de 18'184 personnes. A la suite de l’analyse statistique, les 25 questions les
      plus discriminantes (où les différences sont les plus marquées)
      ont été choisies pour faire partie du Parlomètre romand.

    h3 Crédits
    ul
      li <u><em>Production</u></em>: Couleurs d’été, Labo et veille numérique RTS, RTSinfo.ch
      li <u><em>Coordination et sondage</u></em>: Kevin Gertsch et Dimitri Zufferey (RTS)
      li <u><em>Analyse statistique</u></em>: Frédéric Schütz
      li <u><em>Développement de l’application</u></em>: Journalism++

    h3 Questions fréquemment posées

    h4 Le Parlomètre ne me situe pas au bon endroit!
    ul
      li Le Parlomètre est réalisé sur la base d'un sondage. Nous avons demandé aux participants de nous donner leur commune d'enfance et leur commune de résidence. Sur les quelque 25'000 réponses, 18'184 comportaient une commune d'enfance précise localisée en Suisse romande (les autres personnes interrogées avaient indiqué plusieurs communes, des communes en dehors des frontières ou encore des communes alémaniques).  Les résultats dépendent donc de ces réponses.
      li Le vocabulaire peut changer. Il suffit d’habiter quelques mois à un endroit pour changer ses habitudes et ses expressions.
      li Le vocabulaire de chacun dépend de sa commune, mais aussi de son âge, de son milieu social, de la commune de ses parents, de sa consommation média et de nombreux autres facteurs. Le Parlomètre ne prend en compte que le premier critère. Ainsi, une personne travaillant avec des Suisses venant de toute la Suisse romande se verra influencé par ses collègues et adoptera certaines expressions en dehors de son parler de base.

    h4 Le Parlomètre me dit que mon français vient d’un autre canton que le mien!
    ul
      li Le Parlomètre calcule les réponses moyennes données par les personnes ayant grandi dans chacun des six cantons romands et dans la partie francophone du canton de Berne. Si vos réponses correspondent entièrement à celles d'un canton, le Parlomètre vous dira que votre français est à 100% celui de ce même canton. Le chiffre que vous donne le Parlomètre est le taux de correspondance entre vos réponses et celles de la moyenne des répondants de ce canton.
      li Il se peut que la commune dont vous êtes le plus proche soit en dehors du canton dont vous êtes le plus proche. Au sein d'un même canton, il existe des différences qui font qu'une commune neuchâteloise peut avoir plus de similitudes avec certaines communes vaudoises qu'avec La Chaux-de-Fonds  par exemple.

    h4 Il y a des résultats étranges sur les cartes! 
    p Les incohérences observables notamment autour de la commune de Château-d'Oex ne dépendent que des réponses au sondage:
    ul
      li Château-d'Oex est l'une des plus grandes communes romandes en terme de superficie. Au moment de l'établissement de sa carte, le centre de la commune est donc beaucoup moins influencé par les communes voisines. Les valeurs extrêmes apparaissent ainsi plus facilement. C’est également le cas pour quelques communes valaisannes.
      li Château-d'Oex se situe aux abords immédiats de la frontière alémanique. Il y a donc moins de communes qui influencent le résultat, accentuant l’effet précédemment décrit.
      li Pour certaines questions (le terme employé pour désigner “quelqu’un de bête” par exemple), un nombre deux fois plus important de réponses qu’ailleurs a été observé (c’est le cas du “bobet”).

    h4 Le Parlomètre est-il mis à jour avec nos réponses?
    p Non, il n’y a pas d’actualisation automatique. Cependant, si vous choisissez d’enregistrer vos réponses, ces données nous permettront de publier ultérieurement une version affinée avec plus de résultats.