.main__about
  .main__about__container
    h2.main__container__title À propos
    p.lead.main__container__introduction
      | Art party heirloom jean shorts Banksy, roof party PBR&amp;B taxidermy beard.
      | Hashtag Carles meh, whatever cred McSweeney's bitters letterpress meditation organic
      | typewriter mumblecore messenger bag salvia seitan.
