.main__about
  .main__about__container
    h2.main__container__title À propos
    p.lead.main__container__introduction
      | Le Parlomètre romand est une adaptation suisse romande de l’application interactive du New York Times <a href="http://www.nytimes.com/interactive/2013/12/20/sunday-review/dialect-quiz-map.html">How Y’all, Youse and You Guys Talk</a>,
      | parue en décembre 2013. Le quotidien catalan ARA, de même que le Spiegel et le Tages-Anzeiger du côté germanophone,
      | s’en sont inspirés pour développer un outil adapté à leur aire linguistique par la suite.

    h3 Méthodologie
    p La grande majorité des questions - et leurs réponses - ont été imaginées sur la base du Dictionnaire suisse romand*. Quinze entretiens, réalisés avec des personnes bien ancrées dans leur région, et dans leur canton, ont permis de les affiner et de les compléter.
    p En l’absence d’un atlas linguistique fiable, un sondage a été réalisé afin d’être en mesure de cartographier le parler romand. Cette démarche est totalement inédite par rapport aux autres applications ayant été précédemment développées dans le monde.
    p Composé de 37 questions, ce sondage été réalisé entre le 21 avril et le 21 mai auprès de 18'184 personnes. A la suite de l’analyse statistique, les 25 questions les plus clivantes (où les différences sont les plus marquées) ont été choisies pour faire partie du Parlomètre romand.
    p * Paru aux Editions Zoé, Genève, 2004

    h3 Crédits
    ul
      li <u><em>Production</u></em>: Couleurs d’été, Labo et veille numérique RTS, RTSinfo.ch
      li <u><em>Coordination et sondage</u></em>: Kevin Gertsch et Dimitri Zufferey (RTS)
      li <u><em>Analyse statistique</u></em>: Frédéric Schütz
      li <u><em>Développement de l’application</u></em>: Journalism++
