.main__done
  .main__done__container
    h2.main__container__title Le Parlomètre romand
    .text-center
      p.lead Vous avez fini le questionnaire !
      a.btn.btn-primary.btn-lg.main__done__action(ui-sref="main.outro({ hash: hash })")
        | Voir mes résultats
