.sidebar(ng-class="{ 'sidebar--is-collapsed': sidebar.isCollapsed }", ng-controller="SidebarCtrl")
  .sidebar__toggler
    button.btn.btn-link(ng-click="sidebar.toggle(true)")
      i.fa.fa-bars.fa-2x
      span.sr-only Fermer le menu
  .sidebar__links
    ul.list-unstyled
      li(ui-sref-active-eq="active", ng-hide="done()")
        a(ui-sref="main")
          | Faire le test
      li(ui-sref-active-eq="active", ng-show="done()")
        a(ui-sref="main.outro({ hash: hash() })")
          | Voir vos résultats
      li(ui-sref-active="active")
        a(ui-sref="main.about")
          | À propos
      li.sidebar__links__divider
      li
        a(href="http://www.nytimes.com/interactive/2013/12/20/sunday-review/dialect-quiz-map.html", target="_blank")
          | Le parlomètre des Etats-Unis
      li
        a(href="http://www.tagesanzeiger.ch/extern/interactive/2015/sprachatlas_v7/#/questions", target="_blank")
          | Le parlomètre allemand

