.sidebar {
  z-index: @zindex-sidebar;
  position: fixed;
  left:0;
  bottom:0;
  right: 0;
  top:0;
  width: 300px;
  background: @gray-dark;
  .transition(0.4s);

  &--is-collapsed {
    .translate(-100%, 0);
  }

  &__toggler {
    padding:2px 0;
    height: @header-height;
    border-top:2px solid white;
    background: 240px center url("../assets/images/rts-white.svg") no-repeat;
    background-size: @header-height - 10px auto;
    border-bottom:1px solid fade(white, 10);

    .btn.btn-link {
      color:white;
    }
  }

  &__links {

    margin-top:15px;

    &__divider {
      border-top:1px dashed fade(white, 10);
      margin:10px 0 5px;
    }

    li {
      padding:5px 20px;

      &.active a {
        font-weight: bold;
        border-color: white;
      }

      a {
        text-transform: uppercase;
        color:white;
        padding:7px 15px;
        display: block;
        border-left:2px solid transparent;

        &:hover, &:active, &:focus {
          cursor: pointer;
          text-decoration: none;
          outline:none;
          border-color:white;
        }
      }
    }
  }
}
