.main__outro

  .main__outro__container
    h2.main__container__title Le Parlomètre romand
    p.lead.main__container__introduction
      | Art party heirloom jean shorts Banksy, roof party PBR&amp;B taxidermy beard.
    .main__outro__container__yours(ng-show="1 || done()")
      h3.main__outro__container__yours__title Votre carte
      .main__outro__container__yours__body
        p.text-muted
          | Retrouver grâce à la carte ci-dessous de quels endroit vient votre dialecte.
          | Les 3 villes ayant le plus de similarités avec vos réponses sont affichées.
        .row
          .col-xs-6
            p
              | Vous parlez à&nbsp;
              strong 90% comme un Fribourgeois
              | ,&nbsp;
              strong 60% comme un Valasien&nbsp;
              | et seulement&nbsp;
              strong 10% comme un genevois.

            ul.list-unstyled.main__outro__container__yours__body__cities
              li.main__outro__container__yours__body__cities__item
                h5.main__outro__container__yours__body__cities__item__title
                  | Fribourg
                .main__outro__container__yours__body__cities__item__bar

              li.main__outro__container__yours__body__cities__item
                h5.main__outro__container__yours__body__cities__item__title
                  | Valais
                .main__outro__container__yours__body__cities__item__bar

              li.main__outro__container__yours__body__cities__item
                h5.main__outro__container__yours__body__cities__item__title
                  | Genève
                .main__outro__container__yours__body__cities__item__bar

          .col-xs-6.main__outro__container__yours__body__map
            map(hash="hash", width="600")
