.main__outro

  .main__outro__container
    h2.main__container__title Le Parlomètre romand
    p.lead.main__container__introduction
      | Art party heirloom jean shorts Banksy, roof party PBR&amp;B taxidermy beard.
    .main__outro__container__yours
      h3.main__outro__container__yours__title Votre carte
      .main__outro__container__yours__body
        .row
          .col-sm-5
            p
              | Vous parlez à&nbsp;
              span(ng-repeat="canton in cantons | orderBy:'-value' | limitTo:3")
                span(ng-if="!$first && !$last") ,&nbsp;
                span(ng-if="$last") &nbsp;et&nbsp;
                strong {{ canton.value * 100 | number:0 }}% comme les&nbsp;{{ canton.demonym }}
              | .

            ul.list-unstyled.main__outro__container__yours__body__cantons
              li.main__outro__container__yours__body__cantons__item(ng-repeat="canton in cantons | orderBy:'-value' | limitTo:3")
                h5.main__outro__container__yours__body__cantons__item__title
                  | {{ canton.label }}
                .main__outro__container__yours__body__cantons__item__bar
                  .main__outro__container__yours__body__cantons__item__bar__content(ng-style="barStyle(canton.value)")

          .col-sm-7
            p.text-muted
              | Retrouvez grâce à la carte ci-dessous de quel endroit vient votre dialecte.
              | La commune ayant le plus de similarités avec vos réponses est affichée.
            .main__outro__container__yours__body__map
              map(hash="hash")

    .main__outro__container__footer
      .row
        .col-sm-3.main__outro__container__footer__label
          | Partagez votre carte&nbsp;:
        .col-sm-3.col-xs-6.main__outro__container__footer__share
          .row.text-center
            .col-xs-4
              a(ng-click="sharer.tw()")
                i.fa.fa-twitter
            .col-xs-4
              a(ng-click="sharer.fb()")
                i.fa.fa-facebook
            .col-xs-4
              <a title="Copier l'URL" ui-zeroclip zeroclip-text="{{ sharer.url }}">
                <i class="fa fa-clipboard"></i>
              </a>
        .col-sm-6.col-xs-6.main__outro__container__footer__save
          a.btn.btn-block.btn-primary(ui-sref=".save", ng-show="done()")
            | Aidez-nous à améliorer le Parlomètre
          a.btn.btn-block.btn-primary(ui-sref="main", ng-hide="done()")
            | Faire le test !

