.main__outro {

  &__container {
    padding:40px;
    max-width: 660px;
    margin:auto;

    &__yours {

      border:1px solid @gray-lighter;

      &__title {
        margin:0;
        text-align: center;
        padding:15px 0;
        margin: 0 15px;
        border-bottom: 1px solid @gray-lighter;
      }

      &__body {
        padding:15px;
      }

    }
  }
}
