.main__outro

  .main__outro__container
    h2.main__container__title Le Parlomètre romand
    p.lead.main__container__introduction
      | Art party heirloom jean shorts Banksy, roof party PBR&amp;B taxidermy beard.
      | Hashtag Carles meh, whatever cred McSweeney's bitters letterpress meditation organic
      | typewriter mumblecore messenger bag salvia seitan.
    .alert.alert-success(ng-show="done()")
      i.fa.fa-check
      | &nbsp; Merci pour votre participation !
